configuration {
    terminal: "kitty";
	font: "CaskaydiaCove Nerd Font 20px";
    timeout {
        action: "kb-cancel";
        delay:  0;
    }
    filebrowser {
        directories-first: true;
        sorting-method:    "name";
    }
    hover-select: true;
    me-select-entry: "";
    me-accept-entry: "!MousePrimary";
    kb-cancel: "Escape,MousePrimary";
}

@theme "~/.config/rofi/theme.rasi"
