window#waybar {
    background: rgba(20, 20, 20, 0.85);
    color: #fff;
    text-shadow:
        1px 0 0 #000,
        0 -1px 0 #000,
        0 1px 0 #000,
        -1px 0 0 #000;
    font: 20px "CaskaydiaCove Nerd Font";
}

#workspaces,
#network,
#cpu,
#temperature,
#memory,
#clock,
#custom-bluetooth,
#custom-audio,
#custom-power {
    padding-left: 12px;
    padding-right: 12px;
}

#network:hover,
#cpu:hover,
#temperature:hover,
#memory:hover,
#clock:hover,
#custom-bluetooth:hover,
#custom-audio:hover {
    background: rgba(2, 137, 99, 0.5);
}

#workspaces {
    margin-left: 0px;
}

#temperature.critical {
    background-color: rgba(255, 0, 0, 0.3);
}

#custom-power {
    margin-right: 0px;
    background: rgba(255, 0, 0, 0.2);
}

#custom-power:hover {
    background: rgba(255, 0, 0, 0.5);
}

#workspaces button {
    background: transparent;
    color: #fff;
    text-shadow:
        1px 0 0 #000,
        0 -1px 0 #000,
        0 1px 0 #000,
        -1px 0 0 #000;
}

#workspaces button:hover {
    background: rgba(255, 255, 255, 0.1);
}
